<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="icon" sizes="196x196" href="/images/favicon-196x196.png" />
  <link rel="icon" sizes="32x32" href="/images/favicon-32x32.png" />
  <link rel="icon" sizes="16x16" href="/images/favicon-16x16.png" />
  <link rel="apple-touch-icon" href="/images/favicon-196x196.png" />
  <link rel="mask-icon" href="/images/icon.svg" color="blue" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="theme-color" content="#f3f3f3" />
  <meta property="fb:app_id" content="123456789" />
  <meta name="htmx-config" content='{"withCredentials":true}'>
  <meta property="og:url" content="https://ktrx.cards" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Kutt" />
  <meta property="og:image" content="https://ktrx.cards/images/card.png" />
  <meta property="og:description" content="Free & Open Source Modern URL Shortener" />
  <meta name="twitter:url" content="https://ktrx.cards" />
  <meta name="twitter:title" content="Kutt" />
  <meta name="twitter:description" content="Free & Open Source Modern URL Shortener" />
  <meta name="twitter:image" content="https://ktrx.cards/images/card.png" />
  <meta name="description" content="Kutt is a free and open source URL shortener with custom domains and stats." />
  <title>Kutt | Log in or sign up</title>
  <link rel="stylesheet" href="/css/styles.css">
  
</head>
<body>
  <div class="main-wrapper">
    <header>
  <div class="logo-wrapper">
    <a class="logo nav" href="/" title="Homepage">
      <img src="/images/logo.png" alt="kutt" width="18" height="24" />
      Kutt
    </a>
    <ul class="logo-links">
      <li>
        <a class="nav" href="https://github.com/thedevs-network/kutt" target="_blank" rel="noopener noreferrer" title="GitHub">
          GitHub
        </a>
      </li>
    </ul>
  </div>
  <nav>
    <ul>
        <li>
          <a class="button primary" href="/login" title="Log in or sign up">
            Log in / Sign up
          </a>
        </li>
    </ul>
  </nav>
</header><form id="login-signup" hx-post="/api/auth/login" hx-swap="outerHTML">
  <label class="">
    Email address:
    <input
      name="email"
      id="email"
      type="email"
      autofocus="true"
      placeholder="Email address..."
      hx-preserve="true"
    />
    
  </label>
  <label class="">
    Password:
    <input
      name="password"
      id="password"
      type="password"
      placeholder="Password..."
      hx-preserve="true"
    />
    
  </label>
  <div class="buttons-wrapper">
    <button 
      type="submit" 
      class="primary login "
    >
      <span><svg class="with-text icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000" viewBox="0 0 24 24"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4m-5-4 5-5-5-5m3.8 5H3"/></svg></span>
      <span><svg class="spinner" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path d="M12 2v4m0 12v4M5 5l2.8 2.8m8.4 8.4 2.9 2.9M2 12h4m12 0h4M5 19l2.8-2.8m8.4-8.4 2.9-2.9"/></svg></span>
      Log in
    </button>
        <button 
          type="button"
          class="secondary signup" 
          hx-post="/api/auth/signup" 
          hx-target="#login-signup" 
          hx-trigger="click" 
          hx-indicator="#login-signup" 
          hx-swap="outerHTML"
          hx-sync="closest form"
          hx-on:htmx:before-request="htmx.addClass('#login-signup', 'signup')"
          hx-on:htmx:after-request="htmx.removeClass('#login-signup', 'signup')"
        >
            <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000" viewBox="0 0 24 24"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="8.5" cy="7" r="4"/><path d="M20 8v6m3-3h-6"/></svg></span>
            <span><svg class="spinner" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path d="M12 2v4m0 12v4M5 5l2.8 2.8m8.4 8.4 2.9 2.9M2 12h4m12 0h4M5 19l2.8-2.8m8.4-8.4 2.9-2.9"/></svg></span>
            Sign up
        </button>
  </div>
    <a class="forgot-password" href="/reset-password" title="Reset password">Forgot your password?</a>
</form><footer>
  <p>
    Powered by <a href="https://github.com/thedevs-network/kutt" title="The Devs" target="_blank" rel="noopener noreferrer">Kutt</a> <span>|</span> 
    <a href="/terms" title="Terms of Service">Terms of Service</a>
  </p>
</footer>
  </div>

  
  <script src="/libs/htmx.min.js"></script>
  <script src="/libs/qrcode.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>